<div id="links">
    <h5 routerLink="/catalogue">Catalogue</h5>
    <p> </p>
    <h5 routerLink="/trainer">Collection</h5>
</div>


<div class="pokemon-grid">
    <div class="box">
        <img [src]="sprite" alt="pokemon">
        <h2>Base stats:</h2>
        <p>Name: {{this.selected["name"]}}</p>
        <p>Type: {{this.selected["types"][0]["type"]["name"]}}</p>
        <p>Base stats: {{this.selected["stats"][0]["base_stat"]}}</p>

        <h2>Profile:</h2>
        <p>Height: {{this.selected["height"]}}</p>
        <p>Weight: {{this.selected["weight"]}}</p>
        <p>Abilities: {{this.selected["abilities"][0]["ability"]["name"]}} </p>
        <p>Base experience: {{this.selected["base_experience"]}}</p>

        <h2>Moves:</h2>
        <p>Moves: {{this.selected["moves"][0]["move"]["name"]}}</p>

        <button id="add" (click)="addToCollection()" class="btn btn-primary">add/remove from collection</button>
    </div>
</div>