<div class="pokemon-grid">
    <div class="box">
        <img [src]="sprite" alt="pokemon">
        <h2>Base stats:</h2>
        <h5>Name: {{this.selected["name"]}}</h5>
        <h5>Type: {{this.selected["types"][0]["type"]["name"]}}</h5>
        <h5>Base stats: {{this.selected["stats"][0]["base_stat"]}}</h5>




        <h2>Profile:</h2>
        <h5>Height: {{this.selected["height"]}}</h5>
        <h5>Weight: {{this.selected["weight"]}}</h5>
        <h5>Abilities: </h5>

        <h5>Moves: {{this.selected["moves"][0]["move"]["name"]}}</h5>





        <h5>Base experience: {{this.selected["base_experience"]}}</h5>




        <button (click)="addToCollection()">add to collection</button>
    </div>
</div>