.pokemon-grid .box {
    margin: 0 auto;
    width: 250px;
    height: 600px;
    box-shadow: 1px 2px 5px rgb(43, 88, 90);
}

.pokemon-grid {
    
    display: grid;
    grid-gap: 16px;
    padding: 50px;
    grid-template-columns: repeat(auto-fit,minmax(23%, 1fr) );      
}

p {
    margin-left: 45px;
}

h2 {
    margin-left: 45px;
}

#add {
    margin-left: 15px;
}

img {
    margin-left: 70px;
}

#links{
    display: flex;
    position:absolute;
    right: 100px;
    top: 25px;
}

